*{
    padding: 0;
    margin: 0;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
    /* background-color: black; */
}

.hero{
    height: 100vh;
    width: 100%;
    /* background-image: url(Images/TShirt.jpg); */
    background-size: cover;
    background-color: #eff4fd;
    background-position: center;
}

.images{
    width: 55%;
    height: 60%;
    position: absolute;
    bottom: 60;
    right: 50px;
    
}

.icon{
    align-items: right;
    width: 20px;
    cursor: pointer;
}

.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s ,left 1s ;
}

.images .antu{
    clip-path: ellipse(40% 49% at 50% 50%);
}

.images:hover .shape{
    bottom: 40px;
}

.images:hover .antu{
    left: 45%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo{
    color: #0d233a;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

.span{
    color: orange;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 8px 20px;
}

nav ul li a{
    color: #0d233a;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover {
    color: #f9004d;
    transition: .4s;
}

/* .btn{
    
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 30px;
    transition: transform .4s;


} */

nav ul{
    flex: 1;
    text-align: right;
}

/* .btn:hover{
    transform: scale(1.2);
} */

.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);

}

h1{
    color: #0d233a;
    margin: 20px 0px 20px;
    font-size: 75px;
}

h3{
    color: #0d233a;
    font-size: 25px;
    margin-bottom: 50px;
}

h4{
    color: #0d233a;
    letter-spacing: 2px;
    font-size: 20px;
}

.newsletter form {
    width: 38px;
    max-width: 100%;
    position: relative;
}

.newsletter form input:first-child{
    display: inline-block;
    width: 100%;
    background-color: antiquewhite;
    padding: 15px 320px 12px 12px;
    border: 2px solid #f9004d;
    outline: none;
    border-radius: 30px;
}

.newsletter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: 1px solid white;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #f9004d;
    color: white;
    box-shadow: 0px 0px 5px white, 0px 0px 15px #858585;
    top: 4px;
    right: -295px;
    cursor: pointer;

}

.newsletter form input:last-child:hover{
    background-color: transparent;
    color: #f9004d;
    border: 2px solid #f9004d;
    cursor: pointer;

}

.butt{
    background-color: #f9004d;
    color: black;
    padding: 10px 30px;
    position: absolute;
    border-radius: 30px;
    top: 330px;
    right: 80px;
}
.butt:hover {
    background-color: transparent;
    color: #f9004d;
    border: 2px solid #f9004d;
    cursor: pointer;
}

/* @keyframes bouncing {
    0% {
        bottom: 0;
        box-shadow: 0 0 5px rgb( 0, 0, 0, 0.5);
    }

    100%{
        bottom: 50px;
        box-shadow: 0 50px 50px rgb( 0, 0, 0, 0.1);
    }
} */


.about{
    width: 100%;
    padding: 100px 30px;
    background-color: #eff4fd;
}

.about img{
    height: auto;
    width: 530px;
    align-self: center;
    


}

.about-text{
    width: 500px;

}

.main{
    width: 1130px;
    max-width: 75px;
    margin: 0 auto ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.about-text h2{
    color: black;
    font-size: 55px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5{
    color: black;
    letter-spacing: 2px;
    font-size: 18px;
    margin-bottom: 20px;
    text-transform: capitalize;

}


.about-text p{
    color: black;
    letter-spacing: 1px;
    line-height: 18px;
    font-size: 17px;
    margin-bottom: 25px;
}

button{
    
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

button:hover{
    background-color: transparent;
    color: #f9004d;
    border: 2px solid #f9004d;
    cursor: pointer;
}

.projects{
    background-color: #eff4fd;
    box-shadow: #191919;
}

.service{
    background: #101010;
    width: 100%;
    padding: 100px 0px;
}

.title h2{
    color: black;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 55px;
    width: 1130px;
    margin: 0px auto;
    text-align: center;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;

}

.card{
    height: 400px;
    width: 365px;
    padding: 10px 35px 100px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow:hidden;
    text-align: center;

}

.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #f9004d;
}

h5{
    color: white;
    font-size: 23px;
    margin-bottom: 12px;

}

.par p{
    color: #fcfcfc;
    font-size: 16px;
    line-height: 35px;
}

.card .button{
    
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;

}

.card .button:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

.contact-me{
    width: 100%;
    height: 290px;
    background: #eff4fd;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.contact-me p{
    color: black;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;

}
.contact-me .button-two{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;

}

.contact-me .button-two:hover{
    background-color: white;
    border: 2px solid #f9004d;
    cursor: pointer;
    color: black;

}

footer{
    position: relative;
    width: 100%;
    height: 400px;
    align-items: center;
    flex-direction: column;
    background: #eff4fd;
    display: flex;
    justify-content: center;


}

footer p:nth-child(1){
    font-size: 30px ;
    color: black;
    margin-bottom: 20px;
    font-weight: bold;
}

footer p:nth-child(2){
    color: black;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;

}

.social{
    display: flex;
}

.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9004d;
    border-radius: 50px;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.social a:hover{
    transform:scale(1.2);
    transition: .2s;
}

.copyright{
    position: absolute;
    color: #f9004d;
    bottom: 35px;
    font-size: 14px;
}